
#gameContainer{
	font-family: cursive;
	text-align: center;
}
.cell{
	width: 75px;
	height:75px ;
	border: 2px solid;
	box-shadow: 0 0 0 2px;
	line-height: 75px;
	font-size: 50px;
	text-align: center;
	cursor: pointer;
}
#cellContainer{
	grid-template-columns: repeat(3,auto);
	display: grid;
	width: 225px;
	margin: auto;
}